<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Employing bootstrapping -->

    <title> Arancini </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/content_style.css') }}">
    </head>
    <body>

        <!-- Setting title header -->
    
        <div class="jumbotron-arancini">
            <h1 style="font-size: 68px">Arancini</h1> 
        </div>

        <div class="col-sm-12">
        <h2 class="text-center"> Origins</h2>
        <p> The history of arancini as well as many other typical Sicilian meals still remain veiled in 
            mystery & folk tales. The first documentation of arancini's existence dates back to the 19th century.
            Surprisingly, there has been an evolution to arancini's, as they first started off as more of a
            sweet food rather than savoury. This included using staple italian ingredients such as ricotta, 
            sugar & milk. The introduction of tomato made the switch from sweet to savoury, with ragu being
            paired to create a very well known italian entree. 
        </p>

        <h2 class="text-center"> Recipe </h2>
        <h3 class="text-center"> <b>Ingredients</b> </h3>

            <table class="table text-center">
                <tr>
                    <td>300 g (3 cups)</td><td>dried breadcrumbs</td>
                </tr>
                <tr>
                    <td>250 g</td><td>mozzarella</td>
                </tr>
                <tr>
                    <td>60 g (0.5 cups)</td><td>peas</td>
                </tr>
                <tr>
                    <td>6</td><td>eggs</td>
                </tr>
                <tr>
                    <td>2</td><td>onion</td>
                </tr>
                <tr>
                    <td>2 clove</td><td>garlic</td>
                </tr>
                <tr>
                    <td>400 g </td><td>Tinned diced tomatoes</td>
                </tr>
                <tr>
                    <td>700ml</td><td>passatta</td>
                </tr>
                <tr>
                    <td>250 g</td><td>pork Mince</td>
                </tr>
                <tr>
                    <td>250 g</td><td>veal mince</td>
                </tr>
                <tr>
                    <td>250ml (1 cups)</td><td>vegetable stock</td>
                </tr>
                <tr>
                    <td>1 bunch</td><td>basil</td>
                </tr>
                <tr>
                    <td>800 g (4 cups)</td><td>rice, preferably long grain</td>
                </tr>
                <tr>
                    <td>25 g</td><td>parmesan</td>
                </tr>
            </table>
                <h3 class="text-center"> <b>Method</b> </h3>
                <p>
                    1. Cook off onion & garlic off with oil for 3 minutes (onion before garlic).
                </p>
                <p>
                    2. Add tomatoes, vegetable stock (1/2 that prescribed) & basil (season with salt & pepper). 
                    Let simmer & stir for around 1 hour. 
                </p>
                <p>
                    3. cook rice, let it sit until cooled and proceed to add the mixture above
                    along with parmesan cheese. 
                </p>
                <p>
                    4. Cook off another onion & garlic, but this time add the two
                    mince mixes until browned.  
                </p>
                <p>
                    5. To this new mix, add passatta, stock (other half) and basil 
                    & bring to the boil. Let this sit for an hour and season with salt and pepper. 
                </p>
                <p>
                    6. Disperse the breadcrumbs on a tray and divide the rice mixture  
                </p>

    </body>
</html>