<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Employing bootstrapping -->

    <title> Assignment </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/project2css.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename=js/project2js.js') }}"></script>
    <script type="text/javascript">
        //Set the question
        var QAlist={'questions':[{'question':'jQuery？','answers':['JavaScript','CSS','PHP','neither'],'correctAnswer':1},{'question':'Different?','answers':['table1','table2','table','table3'],'correctAnswer':3},{'question':'Any 0?','answers':['1','2','30','4'],'correctAnswer':3},{'question':'Far?','answers':['5','5km','6','7'],'correctAnswer':2}]};
        
        $(function(){
            $('#quiz-container').jquizzy({
                questions: QAlist.questions
            });
        });

    </script>
    </head>
    <body>
        <div class="jumbotron text-center" id="Pizzaheading">
            <h1>Try and find out what you learn!</h1> 
        </div>

        <div class="container">
            <div id="quiz-container"></div>
        </div>
    </body>
</html>