<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Employing bootstrapping -->

    <title> Risotto </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/content_style.css') }}">
    </head>
    <body>

        <!-- Setting title header -->
    
        <div class="jumbotron-risotto">
            <h1 style="font-size: 68px">Risotto</h1> 
        </div>

        <div class="col-sm-12">
        <h2 class="text-center"> Origins</h2>
        <p> Risotto is another Italian cuisine that shares a very similar base to that of many Chinese 
            cuisines, that being rice. Predominately, the Roman empire relied on rice for medicinal purposes 
            in contrast to an actual food source. It took the Arab settlement in the 10th century to really 
            establish the farming of rice within Mediterranean land to see a rise in the consumption of rice. 
            However, it took till the 15th century until risotto was starting to be produced. Risotto refers 
            to boiling rice within broth (this can be meat based or vegetable based). In evolution, we have 
            seen the addition of eggs, wine and butter used to enhance the flavour of risotto. There are 
            specific types of rice that work best when making risotto, including arborio and carnaroli. 
        <a href="https://www.sbs.com.au/food/article/2016/07/29/who-invented-noodle-italy-or-china"> SBS pasta history/origins</a>
        </p>

        <h2 class="text-center"> Recipe </h2>
        <h3 class="text-center"> <b>Ingredients</b> </h3>

            <table class="table text-center">
                <tr>
                    <td>2 Litres (or 8 cups)</td><td>chicken stock</td>
                </tr>
                <tr>
                    <td>300 g (or 1.5 cups)</td><td>arborio rice</td>
                </tr>
                <tr>
                    <td>250 g</td><td>porchini mushrooms</td>
                </tr>
                <tr>
                    <td>1 </td><td>onion</td>
                </tr>
                <tr>
                    <td>1 bunch</td><td>rocket</td>
                </tr>
                <tr>
                    <td>100 g</td><td>butter</td>
                </tr>
                <tr>
                    <td>80 g (1 cup)</td><td>parmesan cheese</td>
                </tr>
            </table>
                <h3 class="text-center"> <b>Method</b> </h3>
        <p>
            1. Pour chicken stock into pot and bring to the simmer.
        </p>
        <p>
            2. Cook mushrooms with half the butter prescribed in saucepan on medium heat,
            this should take around 5-7 minutes.
        </p>
        <p>
            3. Cook off onions for around 3 minutes.
        </p>
        <p>
            4. Add the arborio rice & cook until the rice appears translucent.
        </p>
        <p>
            5. Add stock 1 cup at a time, making sure to add further cups as the 
            stock gets absorbed by the rice & onions, this process takes around 15
            to 20 minutes.
        </p>
        <p>
            6. After all stock is used, take off the heat and add the mushrooms back, along
            with rocket, parmesan and the rest of the butter. 
        </p>
        <div style="float: right; margin: 20px 0;">
            <a href="{{ url_for('index') }}">Go Back to Content page</a>
        </div>
    </body>
</html>