<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Employing bootstrapping -->

    <title> Pasta </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/content_style.css') }}">
    </head>
    <body>

        <!-- Setting title header -->
    
        <div class="jumbotron-pasta">
            <h1 style="font-size: 68px">Pasta</h1> 
        </div>

        <div class="col-sm-12">
        <h2 class="text-center"> Origins</h2>
        <p> Pasta is an italian delicacy, that has been at the forefront of Italian culture for many
            generations. There is conjecture as to whether pasta’s (noodles) origins began in China & Italy. 
            After reading over Lin-Liu’s discoveries in 
            <a href="https://www.allenandunwin.com/browse/books/general-books/biography-autobiography/On-the-Noodle-Road-Jen-Lin-Liu-9781743318645"> On the Noodle Road </a>
            the question is still open ended. 
            What we do know however is that pasta would have been hard to make in Chinese conditions. China 
            was more exposed to fine wheat, whereas coarse wheat is more prevalent in the creation of pasta. 
            In around 1000BC was the first-time pasta was discovered in the Mediterranean region, which 
            involves around the combination of water and flour to create dough. From there, pasta has evolved 
            as the Mediterranean regions expanded and split off, with it being most heavily linked to Italian 
            food culture. Pasta is such a versatile ingredient, as you can have so many different types, 
            including making spaghetti, ravioli, and lasagna just to name a few. Below will be recipe for 
            sausage pasta, a staple of Italian cooking. 
        
        </p>

        <h2 class="text-center"> Recipe </h2>
        <h3 class="text-center"> <b>Ingredients</b> </h3>

            <table class="table text-center">
                <tr>
                    <td>3 tbsp</td><td>extra virgin olive oil</td>
                </tr>
                <tr>
                    <td>1</td><td>onions, diced</td>
                </tr>
                <tr>
                    <td>3</td><td>garlic cloves</td>
                </tr>
                <tr>
                    <td>400g tin</td><td>tinned Tomatoes</td>
                </tr>
                <tr>
                    <td>700g jar</td><td>passatta</td>
                </tr>
                <tr>
                    <td>500 g/or one packet</td><td>spaghetti pasta</td>
                </tr>
                <tr>
                    <td>500 g or 1</td><td>cacciatore sausage</td>
                </tr>
                <tr>
                    <td>150g </td><td>kalamata olives</td>
                </tr>
                <tr>
                    <td>100 g</td><td>spinach</td>
                </tr>
                <tr>
                    <td>1 knob</td><td>butter</td>
                </tr>
                <tr>
                    <td>3 tbsp</td><td> grated parmesan cheese
                </td>
                <tr>
                    <td>&nbsp;</td><td>salt & pepper</td>
                </tr>
            </table>
        <h3 class="text-center"> <b>Method</b> </h3>
        <p>
            1. Heat a medium-sized saucepan over medium–high heat. Add a generous splash of extra virgin olive oil and the onion 
            and cook for 3–4 minutes. 
        </p>
        <p>
            2.  Add the garlic and cook for 1–2 minutes, until fragrant
        </p>
        <p>
            3. Grill cacciatore sausage and cook for 3–4 minutes cooked through, ass to onions & garlic.
        </p>
        <p>
            4. Add the tinned tomato's, olives & passatta and cook off for 15 minutes. 
        </p>
        <p>
            5. Add butter with salt & pepper to taste & bring to boil. 
        </p>
        <p>
            6. Add spaghetti pasta to boiling water and stir until the water has returned to the boil. 
            Reduce the heat, cover and cook the pasta at a fast simmer for 6 minutes or until pasta is cooked through.
        </p>
        <p>
            7. Mix pasta & sauce well and serve with parmesan cheese atop & with basil/parsley if at your disposal. 
        </p>
        <div style="float: right; margin: 20px 0;">
            <a href="{{ url_for('index') }}">Go Back to Content page</a>
        </div>
    </body>
</html>