<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Italian Cooking Tutorial</title>
        <meta name="title" content="CITS5505 Project 2: Cooking Italian food" charset="UTF-8">

        <!-- Links  -->

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/e.4.0/css/bootstrap.min.css">

        <!-- CSS Scripts -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/project2css.css') }}"> 
        <script type="text/javascript" src="{{url_for('static', filename='js/project2js.js') }}"></script>
        <style> *{ padding:0px; margin:0px;list-style:none;} </style>
    </head>

    <body>
        <div id="topdiv">
            <div class="titlediv">
                <h1> Italian Cooking Tutorial</h1>
                <h4> Authors: Chenze Mu (23148505) && Tom Nicholls (22629772)</h4>
            </div>
            <ul id="first">
                <li>
                    <a id="Search">
                        <span class="glyphicon glyphicon-search"></span>
                        <input type="search" value placeholder="search">
                    </a>
                </li>
                <li>
                    <a>
                        <span class="glyphicon glyphicon-earphone"></span>
                        Contact Author
                    </a>
                </li>
                <li>
                    <a id="Login" href='/login'>
                        <span class="glyphicon glyphicon-user"></span>
                        Register/Login
                    </a>
                </li>
            </ul>
            
        </div>
        <div class="imgdiv">
            <ul class="imageul">
                <li><img src="{{url_for('static', filename= 'pizza1.jpeg') }}" alt="Pizzaphoto1" /></li>
                <li><img src="{{url_for('static', filename= 'pizza2.jfif') }}" alt="Pizzaphoto2" /></li>
                <li><img src="{{url_for('static', filename= 'Pasta1.jpg') }}" alt="Pastaphoto1" /></li>
                <li><img src="{{url_for('static', filename= 'Tiramisu.jpg') }}" alt="Tiramisuphoto1" /></li>
                <li><img src="{{url_for('static', filename= 'Risotto.jpg') }}" alt="Risottophoto1" /></li>
            </ul>
            <div class="btn btn_r">&lt;</div>
            <div class="btn btn_l">&gt;</div>
        </div>
        <!-- <nav id="topnav">
            <ul class="Layout">
                <li class="dorp"><a class="dorp1" href="#wcf">Why Cooking Food?</a></li>
                <li class="dorp"><a class="dorp1" href="#Italian">Italian Foods Development and features</a></li>
                <li class="dorp"><a class="dorp1" href="#Pizza">Pizza</a></li>
                <li class="dorp"><a class="dorp1" href="#Pasta">Pasta</a></li>
                <li class="dorp"><a class="dorp1" href="#Tiramisu">Tiramisu</a></li>
                <li class="dorp"><a class="dorp1" href="#Risotto">Risotto</a></li>
                <li class="dorp"><a class="dorp1" href="#Minestrone Soup">Minestrone Soup</a></li>
                <li class="dorp"><a class="dorp1" href="#Entrée">Entrée</a></li>
            </ul>
        </nav>
        <div id="main">
            <div class="wcf">
                <a name="wcf" class="anchor"></a>
                <h2><b>
                    Why Cooking Food??
                </b></h2>
                <div>
                    <p>
                        Food needs to be processed if it is to meet human nutritional needs or practical needs for storage and transportation. <b>Cooking</b> is the main way of food processing. In the modern age when nutritional needs are gradually being met, cooking begins to pursue color, fragrance and taste.
                    </p>
                    <img src="{{url_for('static', filename= 'Cooking.jpg') }}" alt="Cooking picture" style="float: right;" />
                    <p> 
                        The expansion of agriculture, commerce, trade and transportation between different regions and civilizations provided chefs with many new inventions and techniques, which in turn gave rise to different cuisines. For example French cuisine, Italian cuisine and Chinese cuisine. More and more convenient conditions and a variety of food materials have also attracted many people to love and try cooking.
                    </p>
                    <p>
                        This webpage is going to provide some cooking knowledge and recipes of Italian food, and also provide a simple assessment to test whether the visitor has acquired the appropriate knowledge of Italian cuisine, and then give out the feedback.
                    </p>
                </div>
            </div>
            <div class="content">
                <a name="Italian" class="anchor"></a>
                <h2><b>
                    Italian Foods Development and features
                </b></h2>
                <div>
                    <div class="content1">
                        <img />
                        <h4><b>History</b></h4>
                        <p>
                            The Italian cuisine can claim traceable roots as far back as the 4th century BC, Roman Empire. It is said that the first Italian cuisine originated in Sicily. Then, influenced by different neighboring countries or Arab trade, different seasonal ingredients and spices and herbs were added to the dishes of different regions. This has also led to Italian cuisine being known for its diversity.
                        </p>
                    </div>
                    <div class="content2">
                        <img />
                        <h4><b>Features</b></h4>
                        <p>
                            Italian cuisine is famous for its fresh ingredients, delicate seasonings and spices. 
                            In northern Italy, polenta, risotto and pasta are same popular.
                            In central Italy, tomato sauce and meat sauce are traditionally served with fish and pasta.
                            Southern Italy, olive oil, sardines and other ingredients are an important part of the cuisine.
                            In addition, pasta in Italy is diverse and widely spread around the world, such as macaroni and pizza.  
                        </p>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content1">
                    <a name="Pizza" class="anchor"></a>
                    <h2><b>
                        Pizza
                    </b></h2>
                    <div>
                        <p>
                            
                        </p>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="content2">
                    <a name="Pasta" class="anchor"></a>
                    <h2><b>
                        Pasta
                    </b></h2>
                    <div>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="content3">
                    <a name="Tiramisu" class="anchor"></a>
                    <h2><b>
                        Tiramisu
                    </b></h2>
                    <div>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="content4">
                    <a name="Risotto" class="anchor"></a>
                    <h2><b>
                        Risotto
                    </b></h2>
                    <div>
                        <p>
                            
                        </p>
                    </div>
                </div>
                <div class="content5">
                    <a name="Minestrone Soup" class="anchor"></a>
                    <h2><b>
                        Minestrone Soup
                    </b></h2>
                    <div>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="content6">
                    <a name="Entrée" class="anchor"></a>
                    <h2><b>
                        Entrée
                    </b></h2>
                    <div>
                        <p>
                        Click <a href='/welcome'> this</a> To direct yourself to hello world
                        </p>
                    </div>
                </div>
            </div>
        </div> -->
    </body>
</html>