<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Employing bootstrapping -->

    <title> Tiramisu </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/project2css.css') }}">
    </head>
    <body>

        <!-- Setting title header -->
    
        <div class="jumbotron text-center" id="Tiramisuheading">
            <h1>Tiramisu</h1> 
        </div>

        <div class="col-sm-12 main">
            <h2 class="text-center"> Origins</h2>
            <p> 
                Tiramisu may have originated as a variation of another layered dessert, Zuppa Inglese. While the modern Tiramisu was officially created in the Beccherie restaurant in Treviso in 1970 and this was formally declared and certified by a delegation of the Italian Cooking Academy.
                Treviso citizens who emigrated abroad were the first ambassadors for Tiramisù , taking the traditional recipe from Treviso to the rest of the world.
                First of all, the restaurant “Le Beccherie” in Treviso, which legitimised the original recipe, then “Toulà” owned by Alfredo Beltrame from Treviso, with his chain of restaurants in Italy and the rest of the world.
                more information could be found: <a href="https://www.accademiadeltiramisu.com/en/recent-history-of-tiramisu-from-treviso/">The Accademia del Tiramisù: THE ORIGINAL RECIPE AND THE REAL STORY OF THE TYPICAL SWEET</a>.
            </p>

            <h2 class="text-center"> Recipe: <b>Tiramisu</b> </h2>
            <h3> Ingredients </h3>
                <table class="table text-center">
                    <tr>
                        <th colspan="2">Main ingredients</th><th colspan="2">Toppings</th>
                    </tr>
                    <tr>
                        <td><b>3</b></td><td>egg yolks</td><td>100 ml</td><td>water</td>
                    </tr>
                    <tr>
                        <td><b>60 g</b></td><td>caster sugar</td><td>250 g</td><td>sugar</td>
                    </tr>
                    <tr>
                        <td><b>500 g</b></td><td>mascarpone</td><td>125 ml</td><td>eggwhites (from 4-5 eggs)</td>
                    </tr>
                    <tr>
                        <td><b>2 tbsp</b></td><td>Strega liqueur, or more to taste (see Note)</td>
                    </tr>
                    <tr>
                        <td><b>1 tbsp</b></td><td>Sambucca, or more to taste</td>
                    </tr>
                    <tr>
                        <td>20-30</td><td>savoiardi (sponge finger) biscuits</td>
                    </tr>
                    <tr>
                        <td>1</td><td>litre hot espresso coffee</td>
                    </tr>
                    <tr>
                        <td>100 g</td><td>dark chocolate, chopped</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td><td>freshly ground coffee beans</td>
                    </tr>
                </table>
            <h3> Method </h3>
            <p>
                1. Put the egg yolks and caster sugar in a mixing bowl and beat on high speed until pale and thick. Add the mascarpone and beat on medium speed until combined (be careful not to over mix as you may split the mascarpone). Add the Strega and sambuca and beat briefly. Set aside.
            </p>
            <p>
                2. To make the meringue, pour the water into a very clean, grease-free saucepan and slowly add the sugar, making sure all the grains get wet. Bring to the boil over medium heat and cook to soft-ball stage, which is when you can drop a small amount of syrup into cold water and it forms a ball that you can shape in your fingers. It is at 112°C on a sugar thermometer.
            </p>
            <p>
                3. Beat the egg whites on high speed in a very clean bowl until they hold medium peaks. With the beaters still going, slowly and carefully add the hot syrup in a thin stream down the side of the bowl. Continue to beat until the meringue is completely cool.
            </p>
            <p>
                4. Gently fold the meringue into the mascarpone mixture. Taste and add extra Strega and sambuca if desired.
            </p>
            <p>
                5. Soak the savoiardi biscuits in the coffee a few at a time without letting them get completely sodden, and giving them a light squeeze as you take them out. (The coffee shouldn’t soak all the way through, so there should still be a little portion of biscuit in the middle left untouched.) Lay the biscuits into a large bowl, and keep soaking and adding biscuits until you have lined the base and sides entirely.
            </p>
            <p>
                6. Sprinkle the biscuits with a little of the chopped chocolate. Spread one-third of the mascarpone mixture over the top. Cover with more coffee-soaked biscuits, sprinkle with more chocolate and add another third of mascarpone. Repeat the layers again and smooth the top.
            </p>
            <p>
                7.Refrigerate for at least 2 hours, until the tiramisu is firm enough to cut. Just before serving, sprinkle with ground coffee.
            </p>
            <p>
                Cook's notes
                Oven temperatures are for conventional; if using fan-forced (convection), reduce the temperature by 20˚C. | 
                We use Australian tablespoons and cups: 1 teaspoon equals 5 ml; 1 tablespoon equals 20 ml; 1 cup equals 250 ml. | 
                All herbs are fresh (unless specified) and cups are lightly packed. | 
                All vegetables are medium size and peeled, unless specified. | 
                All eggs are 55-60 g, unless specified.
            </p>
            <div style="float: right; margin: 20px 0;">
                <a href="{{ url_for('index') }}">Go Back to Content page</a>
            </div>
        </div>
    </body>
</html>