<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Employing bootstrapping -->

    <title> Arancini </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/content_style.css') }}">
    </head>
    <body>

        <!-- Setting title header -->
    
        <div class="jumbotron-arancini">
            <h1 style="font-size: 68px">Arancini</h1> 
        </div>

        <div class="col-sm-12">
        <h2 class="text-center"> Origins</h2>
        <p> The history of arancini as well as many other typical Sicilian meals still remain veiled in 
            mystery and folk tales. It seems the first documented form of arancini date back to the 19th 
            century. Surprisingly, the first arancini were sweet and were made using ingredients such as 
            ricotta cheese, sugar, spices, and milk. With the arrival of ingredients from the “New World” 
            everything changed. Tomato, one of the most prominent “new” products revolutionized the cuisine; 
            after being cooked into sauce, recipes using tomato started to multiply. Thanks to this radical 
            change, arancini started to be predominantly salty “with ragù”. 
        <a href="http://mamanapolifoods.com/history-of-arancini/#:~:text=They%20are%20said%20to%20have,were%20easily%20transportable%20and%20filling."> SBS pasta history/origins</a>
        </p>

        <h2 class="text-center"> Recipe </h2>
        <h3> Ingredients </h3>

        <a href="https://www.bbcgoodfood.com/recipes/arancini-balls"> Arancini Balls </a>

        <h3> Method </h3>

        <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiagV07nobaoUbvgDR6J-wk9CQbHdFYFPpiQ&usqp=CAU' alt= "Arancini">
    </body>
</html>