<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Employing bootstrapping -->

    <title> Risotto </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/content_style.css') }}">
    </head>
    <body>

        <!-- Setting title header -->
    
        <div class="jumbotron-risotto">
            <h1 style="font-size: 68px">Risotto</h1> 
        </div>

        <div class="col-sm-12">
        <h2 class="text-center"> Origins</h2>
        <p> Risotto is another Italian cuisine that shares a very similar base to that of many Chinese 
            cuisines, that being rice. Predominately, the Roman empire relied on rice for medicinal purposes 
            in contrast to an actual food source. It took the Arab settlement in the 10th century to really 
            establish the farming of rice within Mediterranean land to see a rise in the consumption of rice. 
            However, it took till the 15th century until risotto was starting to be produced. Risotto refers 
            to boiling rice within broth (this can be meat based or vegetable based). In evolution, we have 
            seen the addition of eggs, wine and butter used to enhance the flavour of risotto. There are 
            specific types of rice that work best when making risotto, including arborio and carnaroli. 
        <a href="https://www.sbs.com.au/food/article/2016/07/29/who-invented-noodle-italy-or-china"> SBS pasta history/origins</a>
        </p>

        <h2 class="text-center"> Recipe </h2>
        <h3> Ingredients </h3>

        <a href="https://www.sbs.com.au/food/recipes/rocket-and-mushroom-risotto"> Mushroom Risotto </a>

        <h3> Method </h3>

        <img src='https://hips.hearstapps.com/delish/assets/17/35/1504128527-delish-mushroom-risotto.jpg' alt= "Risotto">
    </body>
</html>