/* Need comments */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body{
    font-family: 'Dancing Script', cursive;
}

#topdiv .titlediv{
    width: 60%;
    padding: 0%;
    display: inline;
    float:left;
}

.titlediv{
    margin-top: 10px;
    margin-left: 20px;
}

.titlediv h1{
    margin-top: 0%;
}

.Layout,#first{
    list-style-type: none;
    font-family: fantasy;
    padding: 0%;
}

#first{
    margin: 30px;
    display: inline;
    float:right;
}

#first li{
    display: inline;
    margin-left: 20px;
}

#main{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0%;
}

#topdiv{
    margin-top: -90px;
    background-color: white;
    color: rgb(138, 67, 0);
    width: 100%;
    height: 90px;
    position: fixed; 
    display: inline;
    border-bottom: 1px solid rgb(216, 141, 3);
    z-index: 2;
}

#topnav{
    height: 60px;
    background-color: rgb(167, 40, 40);
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    z-index: 2;
}

.anchor{
    position: relative;
    top: -150px;
}

.dorp{
    position: relative;   
    display: inline-block; 
    margin-right: 6px;
    margin-left: 4px;
    padding-bottom: 19px;
    padding-top: 15px;
    text-align: center;
}

.dorp1{
    transition: color 2s;
}

.Layout{
    text-decoration: wavy;
    font-family: fantasy;
    text-overflow: inherit;
    margin-top: 0px;
}

#main p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

#main h2{
    font-size: 32px;
}

#main h4{
    font-size:25px;
}

.wcf img{
    width: 240px;
    float: right;
}

.dorp1:hover{
    color: rgb(223, 255, 79);
}

.dorp a{
    color: white;
}

.imgdiv { 
    width:800px; 
    height:500px;
    margin: 0 auto; 
    margin-top: 90px; 
    position:relative; 
    overflow:hidden;
}

.imgdiv .imageul{
    width:5000px; 
    position:absolute; 
    left:0px;top:0px;
}

.imgdiv .imageul img{
    width:800px; 
    height:500px;
}

.imgdiv .imageul li{
    float: left;
}

.imgdiv .btn {
    width: 50px;
    height: 90px;
    background-color: #808080;
    opacity: 0.5; 
    position:absolute;
    top:50%; 
    margin-top:-25px;
    cursor:pointer;
    text-align:center;
    line-height:70px;
    font-size:40px;
    color:#fff;
    font-family:cursive;
    display:none;
}

.imgdiv .btn_l { 
    left:0px;
}

.imgdiv .btn_r { 
    right:0px;
}

.imgdiv:hover .btn { 
    display:block;
}

.btn:hover{
    background-color: black;
}

.content{
    width: 100%;
    height: 500px;
    margin: 10px 0;
    position: relative;
}

.content h2{
    width: 100%;
    height: 30px;
    top: 0%;
}

.content1{
    width: 45%;
    position: absolute;
    top: 40px;
    left: 0%;
}

.content2{
    width: 45%;
    position: absolute;
    top: 40px;
    left: 50%;
}

.content3{
    width: 45%;
    position: absolute;
    top: 540px;
    left: 0%;
}

.content4{
    width: 45%;
    position: absolute;
    top: 540px;
    left: 50%;
}

.content5{
    width: 45%;
    position: absolute;
    top: 1040px;
    left: 0%;
}

.content6{
    width: 45%;
    position: absolute;
    top: 1040px;
    left: 50%;
}

.jumbotron{
    font-family: 'Dancing Script', cursive;
    height: 50%;
    text-align-last: center;
    text-shadow: 2px 2px 2px #000;
}

#Pizzaheading{
    background-image: url('https://i2.wp.com/nationalfoods.org/wp-content/uploads/2018/11/National-Dish-of-Italy-Pizza.jpg');
    background-size:contain;
    color:white;
}

#Soupheading{
    background-image: url('https://previews.123rf.com/images/nesavinov/nesavinov1711/nesavinov171100125/90920724-italian-minestrone-soup-on-white-wooden-background-selective-focus-.jpg');
    background-size:contain;
    color:white;
}

#Tiramisuheading{
    background-image: url('https://i2.chuimg.com/f4c375b79bd64376b0ba4e2eb8a3a58e_1280w_1024h.jpg?imageView2/2/w/660/interlace/1/q/90');
    background-size:contain;
    color:white;
}

.main h2{
    margin: 10 auto;
    width: 100%;
    color: black;
    text-align: "center";
    padding: 6px;
    margin-bottom:20px;
}

.main h3{
    margin: 5 auto;
}

.main p{
    margin: 0 auto;
    width: 100%;
    color: black;
    text-align: "center";
    padding: 6px;
    font-size:larger;
}

.table{
    margin: 0 auto;
}

.table th{
    border-bottom: 2px solid;
    color: darkgreen;
    text-align: center;
}

.table td{
    border-bottom: 1px solid;
}

.main-quiz-holder{
    margin:0 auto;
    position:relative;
    background:#FCFCFC;
    border:1px solid #dedede;
    box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    border-radius:20px 2px 20px 2px;
    position:relative;
    width:600px;
}
    
.main-quiz-holder *{
    margin:0;
    padding:0;
    font-family:"Microsoft yahei",sans-serif;
}

.main-quiz-holder a{
    text-decoration:none;
    color:#6C6C6C;
}

.main-quiz-holder .slide-container{
    width:500px;
    padding:50px 0 100px 70px;
    margin-top: auto;
    text-align: center;
}
.results-container,.intro-container{
    text-align:center;
}

.main-quiz-holder .question-number{
    position:absolute;
    right:10px;
    top:10px;
    border:1px solid #F6F6F6;
    padding:5px;
    background:#F0F0F0;
    text-shadow:0 1px 0 rgba(255,255,255,0.3);
    box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);
    border-radius:3px;
    color:#949494;
}

.main-quiz-holder .slide-container ul.answers{
    margin:0px;
    padding:5px;
    list-style:none;
}

.main-quiz-holder .slide-container ul.answers li{
    cursor:pointer;
    padding:5px 30px;
    margin:12px 0;
    color:#4c4c4c;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    text-shadow:0 1px 0 rgba(255,255,255,0.3);
    box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);
    background:#f6f6f6;
    border:1px solid #a1a1a1;
}

.main-quiz-holder .slide-container ul.answers li.selected{
    background:#6fb2e5;
    box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;
}

.main-quiz-holder .slide-container .prev,.main-quiz-holder .slide-container .next{
    height:30px;
    cursor:pointer;
    font-size:16px;
    padding:5px 5px;
    color:#4c4c4c;
    border-radius:4px;
    text-shadow:0 1px 0 rgba(255,255,255,0.3);
    background:#6fb2e5;
    box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;
}

.main-quiz-holder .slide-container .next{
    background:#77d125;
    box-shadow:0 1px 5px #3caa00,inset 0 10px 20px #c9ffb6;
}



.main-quiz-holder .result-keeper{
    margin:10px;
    text-align:center;
}

.main-quiz-holder .notice{
    margin-top:-30px;
    color:#717171;
    position:absolute;
    right:52px;
    bottom:30px;
}

.main-quiz-holder .slide-container .prev{
    width:100px;
    float:left;
}

.main-quiz-holder .slide-container .next,.main-quiz-holder .slide-container .final{
    width:100px;
    float:right;
}

.main-quiz-holder .nav-start{
    display:block;
    margin:40px auto 0 20px; 
    line-height:32px; 
    font-size:20px; 
    font-weight:bold
}

.main-quiz-holder .nav-container{
    padding:5px;
    margin:15px 0;
}

.main-quiz-holder .result-row{
    width:80px;
    margin:10px 20px;
    float:left;
    position:relative;
}

.main-quiz-holder .result-row .resultsview-qhover{
    background:#FCFCFC;
    border:1px solid #dedede;
    box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    border-radius:2px 10px 2px 10px;
    position:absolute;
    width:250px;
    top:50px;
    left:-80px;
    z-index:200;
    padding:15px 30px;
    text-align:left;
    font-size:22px;
}

.main-quiz-holder .resultsview-qhover ul{
    list-style:none;
    margin:10px 0;
}

.main-quiz-holder .resultsview-qhover li{
    padding:0 28px;
    margin:5px 0;
    min-height:20px;
    font-size:14px;
    background: #FCFCFC;
    border:1px solid #F6F6F6;
    border-radius:3px;
}

.main-quiz-holder .correct,.main-quiz-holder .wrong{
    height:25px;
    cursor:pointer;
    padding:5px 10px;
    font-size:14px;
    padding:0 20px;
    color:#4c4c4c;
    border-radius:4px;
    text-align: center;
    text-shadow:0 1px 0 rgba(255,255,255,0.3);
    box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);
}

.main-quiz-holder .correct{
    background:#c3e462;
    border:1px solid #bfff00;
}

.main-quiz-holder .wrong{
    background:#fc5e5e;
    border:1px solid #e36d6d;
}

.main-quiz-holder .question{
    padding-left:5px;
    line-height:1.3em;
}

.main-quiz-holder .right{
    float:none;
}

.FeedbackQA{
    margin:0 auto;
    padding:50px 0 100px 70px;
    position:relative;
    background:#FCFCFC;
    border:1px solid #dedede;
    box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    border-radius:20px 2px 20px 2px;
    position:relative;
    width:600px;
    font-family:"Microsoft yahei",sans-serif;
}

.Bar_chart{
    text-align: center;
    margin-top: 100px;
}